* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Delicious Handrawn;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./Best-Online-Quiz-Makers-Featured.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
}

#container {
  user-select: none;
  border-radius: 20px;
  border: 2px solid #fff;
  padding: 20px;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.timer {
  border: 2px solid #eee;
  border-radius: 20px;
  padding: 0px 20px;
  text-align: end;
}
.timer p {
  font-size: 35px;
  font-weight: 700;
  color: #2c2c2c;
}
h2 {
  margin-top: 5px;
  font-size: 25px;
  color: #141414;
  font-weight: 800;
}
.btn-style {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background-color: #f7f7f7;
  border: 1px solid #b9b9b9;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  color: #000;
  font-weight: 900;
}
.btn-style:active {
  transform: scale(1.1);
}

.game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.question,
.answers {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}
.question {
  pointer-events: none;
}
.box {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* background-color: #fff; */
}
#nextRound {
  margin-top: 10px;
  text-align: center;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: orange;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
#nextRound:active {
  transform: scale(1.1);
}
#attempt {
  font-size: 30px;
  font-weight: 700;
}
.attempts {
  height: 40px;
  border-radius: 20px;
  border: 1px solid #eee;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
#startModal{
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 200px;
  background: none;
  display: flex;
  border: 2px solid #bd9100;
  border-radius: 15px;
}

#start:active {
  transform: scale(1.1);
}
.modalDiv{
  text-align: center;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 350px;
  height: 310px;
  background: none;
  display: none;
  border: 2px solid #bd9100;
  border-radius: 15px;
}
.modalDiv p{
  font-size: 25px;
  color: #ffa200;
  font-weight: 700;
}
.correct, .green {
  background-color: green;
  color: #fff;
}

.wrong, .red {
  background-color: red;
  color: #fff;
}

.timeEnd, .black{
  background-color: #141414;
  color: #fff;
}

.modalDiv div{
  margin: 10px;
  margin-bottom: 30px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  width: 50px ;
  height: 50px;
  border-radius: 50%;
}
.reset, #start{
  padding: 15px 55px;
  background-color: orange;
  color: #000;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.reset:active {
  transform: scale(1.1);
}

